.cardView {
  display: block;
}

.matrixView {
  display: none;
}

@media (min-width: 960px), (orientation: landscape) and (min-width: 640px) {
  .cardView {
    display: none;
  }

  .matrixView {
    display: block;
  }
}
